/* .title {
  color: green;
  font-style: oblique;
  font-size: 40px;
  text-decoration: underline;
  text-shadow: 30px 20px 10px gray;
  margin-left: 450px;
}*/

.button {
  margin-right: 500px;
  margin-left: 300px;
}

.contenedor-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.elemento-grid {
  margin-left: 500px;
  height: 100px;
  width: 100px;
}

.elemento-grid:hover {
  transform: scale(1.05);
  border: solid black 1px;
}

.columna {
  border-right: solid black 4px;
}

.fila {
  border-bottom: solid black 4px;
}

.casillaJade {
  background-color:#073B4C;
  color: white;
  text-align: center;
  font-size: 30px;
}

.casillaDorada {
  background-color: #5F4C0B;
  color: white;
  text-align: center;
  font-size: 30px;
}
